@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}
/* ----  Navbar ---- */
.navbar{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    position: relative;
}
.logo{
    margin-top: 22px;
    position: absolute;
    left: 100px;
    height: 6vh;
}
.line{
    height: 10vh;
    width: 1.5px;
    margin-top: 10px;
    position: absolute;
    background-color: white;
    left: 16rem;
}
.grow-list{
    position: relative;
}

.list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:40px;
    margin-top: 30px ;
    margin-right: 20rem;
    color: white;
}
.list-item{
    font-size: 18px;
}
.menu{
    display: none;
    color: white;
    font-size: 40px;
}

.button-small{
    background-color:#BA0CC5;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 10px 35px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    right: 50px;  
}
/* ------ Main Content ------ */
body{
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%,100%;

}

.hero{
    
    text-align: center;
}
.hero-heading{
    font-size: 80px;
    color: white;
    font-weight: bold;
    margin-top: 9.5%;
}
.hero-description{
    font-size: 25px;
    color: white;
}
.button-large{
    background-color:#FF00FF;
    color: white;
    border-radius: 7px;
    border: none;
    padding: 10px 35px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
}
/* ----  Footer ---- */
 footer{
     display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: black;
    width: 100%;
    padding: 2px 0 ;
    font-size: 18px;
    
}
.github{
    color: white;
}
.linkedin{
    color: white;
}
.twitter{
    color: white;
}
   
/* ----- Media Query */

@media only screen and (max-width: 480px) {
    .navbar{
        width: 100%;
    }
    .list{
        display: none;
    }
    .line{
        display: none;
    }

    .menu{
        display: block;
        margin-left: 17rem;
        margin-top: 10px;
    }
    .button-small{
        display: none;
    }

    .logo{
        margin-left: -60px;
    }
    body{
    
    background-size: cover;
    
    }
    .hero-heading{
        font-size: 50px;
        line-height: 1.2;
    }
    .hero-description{
        font-size: 20px;
    }

    

}