@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
/* ----- Navbar ----- */
.navbar-container{
    display: flex;
    justify-content: space-between;
}
.img{
    margin-left: 5rem;
    margin-top: 25px;
}
.list-item{
    opacity: 0.3;
}
.l1{
    opacity: 1;
}
.list{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-top: 40px;
    margin-right: 23rem;
}
.menu{
    color: #000000;
    display: none;
}
.nav-button1{
    
    margin-top: 25px;
    margin-right: 130px;
    background-color: #5955B3;
    border-radius: 9px;
    border: none ;
    padding: 15px 30px;
    color: white;
    font-size: 12px;
}

/* -----  Main Content ----- */
.banner-container{
    display: flex;
    justify-content: space-between;
}
.left-side{
    margin-top: 7rem;
}
.heading-text{
    font-size: 62px;
    color: #3C2F60;
    margin-left: 6rem;
}
.heading-text > span{
    color: #5955B3;
}
/* ----- Right Content ----- */
.right-side > img {
    width:55vw;
    height: 100vh;
}

/* ----- Left Content ----- */
.left-side > p{
    margin-left: 7rem;
    opacity: 0.5;
}
.nav-button {
    margin-top: 50px;
    margin-left: 7rem;
    background-color: #5955B3;
    border-radius: 8px;
    border: none ;
    padding: 15px 35px;
    color: white;
    font-size: 12px;
}
/* ----- Footer ----- */
footer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* ----- Media Query */

@media only screen and (max-width: 480px) {
    .navbar-container{
        height: 5vh;
    }
    .img{
        margin-left: 50px;
    }
    .list{
        display: none;
    }
    .nav-button1{
        display: none;
    }
    .menu{
        display: block;
        font-size: 40px;
        margin-top: 1rem;
        margin-left: 20px;
    }
    .banner-container{
        flex-direction: column;
    }
    .left-side{
        margin-left: -80px;
        
    }
    .heading-text{
        font-size: 55px;
    }
    .left-side p{
        font-size: 18px;
    }
    .nav-button{
        padding: 18px 30px;
        font-size: 16px;
    }
    .right-side img{
        width: 95vw;
        height: 40vh;
        align-items: center;
    }
}